<!doctype HTML>
<html>
  <head><title>Fruit Picker</title></head>
  <body>
     <form action="/mymovies" method="POST">
        <p>What is your favorite Movie?</p>
       <!--  {% for fruit in fruits %}
          <p>
            <input type="radio" name="fruit" value="{{fruit}}"/>{{fruit}}
          </p>
        {% endfor %} -->
        <input type="text" name="title" value="movieTitle"/>
        <input type="text" name="year" value="movieYear"/>
        <input type="text" name="IMDB" value="movieIMDB"/>
        <input type="submit" value="Submit"/>
     </form>
  </body>
</html>
